.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-left {
  position: absolute;
  left: 12px !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.input-icon-right {
  position: absolute;
  right: 12px !important;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.input-with-left-icon {
  padding-left: 40px !important;
}

.input-with-right-icon {
  padding-right: 40px !important;
}

.input-with-both-icons {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.two-in-one-row {
  width: 48%;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}
