.form-title {
  /* font-size: 14px !important; */
  font-weight: 700;
  color: #01494b !important;
  text-align: center;
  margin: 0; /* Remove default margin */
  flex: 2; /* Takes up remaining space and centers itself */
}

.form-back {
  display: flex !important;
  font-size: 10px !important;
  font-weight: 700;
  color: #01494b !important;
  margin: 0; /* Remove default margin */
}

.form-title-content {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem;
  border-bottom: 2px solid #01494b !important;
  color: #01494b !important;
}

.left-section {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-section {
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}